<!-- Footer -->
<footer class="footer mt-5" id="footer-about">
    <div class="container-fluid py-5">
        <div class="row py-4">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <img src="https://i.imgur.com/tOY7io1.png" alt="" width="150" class="m-auto img-fluid d-block">
                <!-- <p class="h2 text-center text-white">Fresh Food</p> -->
                <ul class="list-inline mt-4 d-flex justify-content-center">
                    <li class="list-inline-item mx-3"><a href="#" target="_blank" title="facebook"><i
                                class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item mx-3"><a href="#" target="_blank" title="instagram"><i
                                class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item mx-3"><a href="#" target="_blank" title="youtube"><i
                                class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Shop</h6>
                <ul class="list-unstyled list-footer mb-0">
                    <li class="mb-2"><a href="#" class="text-white">Foods</a></li>
                    <li class="mb-2"><a href="#" class="text-white">Category</a></li>
                    <li class="mb-2"><a href="#" class="text-white">Stores</a></li>
                    <li class="mb-2"><a href="#" class="text-white">Our Blog</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Account</h6>
                <ul class="list-unstyled list-footer mb-0">
                    <li class="mb-2"><a href="#" class="text-white">Login</a></li>
                    <li class="mb-2"><a href="#" class="text-white">Register</a></li>
                    <li class="mb-2"><a href="#" class="text-white">Wishlist</a></li>
                    <li class="mb-2"><a href="#" class="text-white">Cart</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
                <p class="text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.
                </p>
                <div class="p-1 rounded border">
                    <div class="input-group">
                        <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
                        <div class="input-group-append">
                            <button id="button-addon1" type="submit" class="btn btn-link"><i
                                    class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-3">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2 ">&copy; All rights reserved. <span class="text-primary align-baseline"> vinhngoc.trinh@dxc.com.</span></p>
        </div>
    </div>
</footer>
<!-- End -->