<div class="row product my-5">
    <div class="col-md-6 col-xs-12 mb-4">
        <img src="{{food.imgSource}}" />
    </div>
    <div class="col-md-6 col-xs-12 px-4">
        <div class="mb-3">
            <span class="h2 text-dark">{{food.title}}</span>
        </div>
        {{food.desc}}
        <strong class="text-dark text-lg"> {{food.rate}}</strong>

        <div class="form-inline my-3 mx-0 bg-light rounded-lg p-3">
            <span class="text-danger h3 m-0 p-0"><strong>${{food.price}}</strong></span>
        </div>
        <div class="form-inline my-3 mx-0">

        </div>
        <div class="mb-5">

        </div>
    </div>
</div>