<header class="header">
    <div class="container">
        <div class="header-container">
            <a class="header-logo h2" href="/">FoodItem</a>
            <ul class="menu">
                <li class="menu-item">
                    <a href="#" class="menu-link">About</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Features</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Pricing</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Testimonials</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Help</a>
                </li>
                <li class="menu-item menu-item--auth">
                    <a href="#" class="button button--outline">Signup</a>
                </li>
            </ul>
            <div class="menu-toggle">
                <span></span><span></span><span></span>
            </div>
            <div class="header-auth">
                <a href="#" class="button button--outline">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
                </a>
            </div>
        </div>
    </div>
</header>