/* You can add global styles to this file, and also import other style files */

@import url('./assets/styles/toastr.css');
html,
body {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Rubik', sans-serif;
}

.loading-spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 150px 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    display: inline-block;
    padding: 13px 45px;
    border-radius: 100rem;
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    white-space: nowrap;
}

.button--primary {
    font-weight: 700;
    background-color: #f53838;
    color: white;
}

.button--outline {
    background-color: transparent;
    color: #f53838;
    font-weight: 500;
    border: 1px solid;
}

.button--rounded {
    border-radius: 10px;
    padding: 17px 65px;
}

.button--shadow {
    position: relative;
}

.button--shadow:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%;
    height: 100%;
    transform: translate(-50%, 50%);
    background-color: rgba(245, 56, 56, 0.35);
    filter: blur(54px);
    border-radius: inherit;
}

.boxed {
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .button {
        padding: 13px 26px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0b132a;
    font-weight: bold;
    margin: 0;
}

ul {
    margin: 0;
}

.heading {
    font-weight: 500;
    font-size: 35px;
    line-height: calc(50 / 35);
    margin-bottom: 20px;
}

.heading-small {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
    line-height: calc(30 / 18);
}

.text {
    line-height: calc(30 / 16);
}

.text-medium {
    font-weight: 500;
}

.text-small {
    font-size: 14px;
    line-height: calc(30 / 14);
}

@media screen and (max-width: 767px) {
    .heading {
        font-size: 30px;
    }
}

.text-center {
    text-align: center;
}

.form-control:focus,
.btn:focus {
    box-shadow: 0 0 0 0.15rem rgb(0 123 255 / 25%);
}

.mat-icon {
    vertical-align: middle;
}

.min-width-200 {
    min-width: 200px;
}

.color-primary {
    color: #FF6256;
}

.my-btn {
    background: #FF6256;
}

span,
strong {
    vertical-align: middle;
}

.z-index-10 {
    z-index: 10;
}