<h2 class="text-center my-5">Edit food</h2>
<div class="d-flex justify-content-between">
    <mat-form-field appearance="outline">
        <mat-label>Select food to edit</mat-label>
        <mat-select [(ngModel)]="chooseFood" (ngModelChange)="changeChooseFood($event)">
            <mat-option *ngFor="let item of listFood" value="{{item.id}}">{{item.title}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<ng-template [ngIf]="!loading" [ngIfElse]="loadingtemplate">
    <form #FormEditFood="ngForm" class="example-form row" *ngIf="isChooseFood">
        <mat-form-field class="col-md-6 my-2" appearance="outline" hidden="true">
            <mat-label>Id</mat-label>
            <input type="number" matInput required placeholder="Ex: 1" [(ngModel)]="food.id" #id="ngModel" name="id" autocomplete="off">
            <mat-icon matSuffix>title</mat-icon>
            <mat-error *ngIf="desc.errors?.required">
                Id is <b>required</b>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 my-2" appearance="outline">
            <mat-label>Title</mat-label>
            <input type="text" matInput required placeholder="Ex: Chicken" [(ngModel)]="food.title" #title="ngModel" name="title" autocomplete="off">
            <mat-icon matSuffix>title</mat-icon>
            <mat-error *ngIf="desc.errors?.required">
                Title is <b>required</b>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 my-2" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea type="text" matInput required placeholder="Ex: Chicken very good" [(ngModel)]="food.desc" #desc="ngModel" name="desc" autocomplete="off"></textarea>
            <mat-icon matSuffix>description</mat-icon>
            <mat-error *ngIf="desc.errors?.required">
                Description is <b>required</b>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 my-2" appearance="outline">
            <mat-label>Price</mat-label>
            <input type="number" min="0" matInput required placeholder="Ex: 5.00" [(ngModel)]="food.price" #price="ngModel" name="price" autocomplete="off">
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-error *ngIf="price.errors?.required">
                Price is <b>required</b>
            </mat-error>
            <mat-error *ngIf="rate.errors?.min">
                Rate must be greater than 0.
            </mat-error>
            <mat-hint>Price is a number greater than 0.</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-6 my-2" appearance="outline">
            <mat-label>Rate</mat-label>
            <input type="number" min="1" max="5" matInput required placeholder="Ex: 4.5" [(ngModel)]="food.rate" #rate="ngModel" name="rate" autocomplete="off">
            <mat-icon matSuffix>grade</mat-icon>
            <mat-error *ngIf="rate.errors?.required">
                Rate is <b>required</b>
            </mat-error>
            <mat-error *ngIf="rate.errors?.min">
                Rate must be greater than 1.
            </mat-error>
            <mat-error *ngIf="rate.errors?.max">
                Rate must be less than 5.
            </mat-error>
            <mat-hint>Rate is be a number between 1 and 5.</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-12 my-2" appearance="outline">
            <mat-label>Image URL Source</mat-label>
            <input type="url" matInput required placeholder="Ex: http://example.com" [(ngModel)]="food.imgSource" #imgSource="ngModel" name="imgSource" autocomplete="off">
            <mat-icon matSuffix>image</mat-icon>
            <mat-error *ngIf="imgSource.errors?.required">
                Image URL Source is <b>required</b>
            </mat-error>
            <mat-hint>Image URL Source is a URL string.</mat-hint>
        </mat-form-field>
        <img src="{{food.imgSource}}" *ngIf="food.imgSource" style="max-height: 200px; margin: 16px 16px;" onerror="this.onerror=null;this.src='https://i.imgur.com/QJzMcF1.png'" />
        <button [disabled]="onSubmit" type="submit" class="d-block w-100 btn btn-lg mx-3 mt-2 btn-danger" (click)="updateFood_Click()">Update food</button>
    </form>
</ng-template>
<ng-template #loadingtemplate>
    <div class="loading-spinner">
        <mat-spinner color="warn" diameter=50></mat-spinner>
    </div>
</ng-template>

<div class="loading-spinner my-3" *ngIf="onSubmit">
    <mat-spinner color="warn" diameter=50></mat-spinner>
</div>